body {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.p{
    color: #a2a2a2;
}

/*----Nav-Bar------*/

.main-nav {
    background-color: #37517e;
    position: sticky;
    top: 0;
    z-index: 99999;

}

.nav-logo h1 {
    color: #ffffff;
}

.nav-link{
    color: #ffffff !important;
}



.nav-links a:hover {
    color: #449ccc !important;
}


.nav-bttn {
    padding: 8px 20px;
    background: #37517e;
    color: #fafbfc;
    border: 1px solid #47b2e4;
    border-radius: 20px;
}

.nav-bttn:hover{
    background-color: #449ccc;
}

/*-----Hero Section------*/
.hero-section {
    background: #37517e;
}

.hero-col h2 {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
}

.hero-col p {
    color: #aab5c8;
    font-size: 20px;
    font-weight: 600;
}

.hero-button {
    padding: 8px 25px;
    background: #47b2e4;
    color: #ffffff;
    border-radius: 25px;
    border: none;

}
.hero-button:hover{
    background-color:#449ccc;
    transition: 0.3s;
}

.hero-Bttns span {
    color: #aab5c8;
    font-size: 30px;
    font-weight: 600;
}

.Play-icon {
    font-size: 30px;

}
.Play-icon:hover{
    color: #449ccc;
}

/*-------Logo Sections------*/
.Logo-Section {
    background: #f3f5fa;
}

.clients-row {
    align-items: center;
}

/*------About-Section------*/
.about-row h2 {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: #37517e;
}

.icon-text {
    padding: 0;

}

.info-text {
    color: #37517e;
    padding: 30px;
}

.icon-text i {
    color: #449ccc;
}

.about-bttn {
    padding: 8px 25px;
    color: #47b2e4;
    border: 1px solid #47b2e4;
    font-weight: 700;
}

/*-------Accordian info--------*/
.info-section {
    background: #f3f5fa;
    height: 100vh;
}

.border-acc {
    border: none;
}

.accordion-item {
    border: none;
}

.Info-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----volunteer Section-----*/
.vol-col {
    color: #37517e;
}

.progress-border {
    border-radius: 0%;
    height: 10px;
}

.progress-text {
    color: #4668a2;
}

.progress-bar {
    background: #37517e;
}

/*---------Services---------*/
.service-section{
    background:#f3f5fa ;
}
.icon-box{
    background-color: #ffffff;
    box-shadow: 0px 0px 16px 1px rgba(1, 1, 1, 30%);
    padding-left: 20px;
    padding-top: 20px;
}
.icon-box i{
    color: #4fb5e5;
    font-size: 30px;
}
.icon-box h2{
    padding: 15px 0px;
    color: #5a6f94;

}
.title{
    text-align: center;
}
.title h2{
    font-size: 40px;
    font-weight: 700;
    color: #37517e;
}

/*-------Call to Action---------*/
.action-section{
    background: #334665;
}
.Action-Row{
    justify-content: space-between;
    align-items: center;
    
}

.call-text{
    color: #ffffff;
}
.action-button{
    padding: 10px 35px;
    border-radius: 35px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background: transparent;
    text-align: center;
    font-weight: 600;
    margin-right: 5px;
}

/*--------Team Section--------*/
.team-section{
    background: #f3f5fa;
}

.team-text h2{
    color: #37517e;
    font-weight: 700;
}
.team-text p{
    color:#444444 ;
}

.team-info h4{
    color:#37517e ;
}
.team-icons i{
    color:#37517e;
    border-radius: 50%;
    padding: 6px 6px;
}
.team-icons :hover{
    background: #449ccc;
    color: white;
}
.pic{
    width: 180px;
}
.team-box {
    box-shadow:0px 0px 16px 1px rgba(1, 1, 1, 30%);
}

.team-img{
    border-radius: 50%;
}

.text-team h2{
    color:#37517e ;
}

.img-row{
    display: flex;
    align-items: center;
    
}

.img-box{
    padding: 0px;
    background: #ffffff;
    box-shadow:0px 0px 16px 1px rgba(1, 1, 1, 30%);
}

.col-md-3{
    width: 180px;
    overflow: hidden;
    border-radius: 50%;
}

/*-------pricing Section-------*/
.team-text{
    text-align: center;
}
.price-box{
   box-shadow:0px 0px 16px 1px rgba(1, 1, 1, 30%);
}
.price-box ul{
    list-style: none;
}
.price-box li a{
    text-decoration: none;
    color: #a2a2a2;
}
.price-box h6{
    font-weight: 800;
    color: #37517e;
}
.price-box ul li i{
    color: #28a745;
}
.price-box h2{
    color: #37517e;
}
.price-box h5{
    color: #449ccc !important;
    font-weight: 400;
}
.links ul{
    padding: 0px;
}

.price-bttn{
    padding: 8px 25px;
    background: #47b2e4;
    color: #ffffff;
    border-radius: 25px;
    border: none;
}

/*-------FAQ question--------*/
.FAQ-sections{
    background:#f3f5fa;
}
.FAQ-box{
    width: 80%;
    margin: 0 auto;
}

.accordian-links ul{
 list-style: none;
}
.accordian-links ul li a{
    text-decoration: none;
}

/*--------Contact Section------*/
.contact-text h2{
    color: #37517e;
}

.font-icon{
    padding: 12px 8px;
    border-radius: 50%;
    background: #e6f5fb;
    color: #5bbae7;
}
.font-icon:hover{
    background: #47b2e4;
    color: white;
}

.location h4{
    color:#37517e;
}
.email-addres h4{
    color: #37517e;
}
.call-num h4{
    color: #37517e;
}
    
.location p{
    color: #6c8abf;
}
.email-addres p{
    color: #6c8abf;
}
.call-num p{
    color:#6c8abf;
}
.location-box{
    box-shadow:0px 0px 16px 1px rgba(1, 1, 1, 30%);
    height: 75vh;
}

/*----form---*/
.form-box{
    box-shadow:0px 0px 16px 1px rgba(1, 1, 1, 30%);
}
.area{
    height: 400vh;
}

.form-btn{
    padding: 10px 35px;
    border-radius: 35px;
    color: white;
    background: #47b2e4;
    border: none;
    font-weight: 500;
}
 
/*--------NewsLetter--------*/
.news-section{
    background: #f3f5fa;
}
.news-letter h2{
    color: #37517e;
}
.search-area{
    width: 50%;
    margin: 0 auto;
    

}
.input-border{
    padding: 10px ;
    border-radius: 40px !important;
}
.btn-news{
    padding: 8px 30px;
    color: #ffffff;
    background: #47b2e4;
    border-radius: 30px !important;
    border: none;
}

/*-------Footer-------*/
.arsha-links ul{
    list-style: none;
    padding: 0;
}
.arsha-links ul li a{
    text-decoration: none;
}
.arsha-links li{
    color: #28a745;
}